target/classes/prestashopchoiceflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="prestashopchoiceflowFlow1" doc:name="prestashopchoiceflowFlow1" initialState="started">
        <vm:inbound-endpoint exchange-pattern="request-response" address="vm://pruebapshop" doc:name="VM"/>
        <logger message="#[payload]" level="DEBUG" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.request.be==&quot;PRODUCTS&quot;]">
                <vm:outbound-endpoint exchange-pattern="request-response" address="vm://products" doc:name="vmProductos"/>
            </when>
            <when expression="#[payload.request.be=='CLIENTS']">
                <vm:outbound-endpoint exchange-pattern="request-response" address="vm://clientes" doc:name="vmClientes"/>
            </when>
            <when expression="#[payload.request.be=='ORDERS']">
                <vm:outbound-endpoint exchange-pattern="request-response" doc:name="vmPedidos" address="vm://pedidos"/>
            </when>
            <otherwise>
                <echo-component doc:name="Echo"/>
            </otherwise>
        </choice>
        <custom-transformer class="es.ual.itsi.transformer.JsonTransformer" doc:name="Java"/>
    </flow>
</mule>
